<html bs-app-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Admin page</title>
  <link rel="stylesheet" href="https://bootstrapstudio.io/demo//embed//bootstrap/5/freelancer/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">


  <style bs-system-element="" bs-hidden=""></style>
  <style bs-system-element="" bs-hidden=""></style>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Ramon Ernits</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin Page
            <span class="sr-only"> (Current page)</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h1 class="text-center">Admin</h1>
<hr class="opop">
<div class="adminpage">
  <ul class="list-unstyled mx-4">

    <form action="admin" method="POST" enctype="multipart/form-data"></form>
      <li class="a"><input type="text" name="personalinfo" placeholder="Add personal info"></li>
      <li class="a"><input type="text" name="education" placeholder="Add education"></li>
      <li class="a"><input type="text" name="technical_skills" placeholder="Add technical skills"></li>
      <li class="a"><input type="text" name="soft_skills" placeholder="Add soft skills"></li>
      <li class="valifile"><input type="file" name="userFile" class="button"></li>
      <li class="adddata"><button type="submit" class="button">Add Data</button></li>
    </form>
    </ul>
    
</div>





</form>
</body>

</html>